.review-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 30%;

  div {
    flex: 1 1 auto;
    text-align: center;
  }

  .MuiSvgIcon-root {
    color: gold;
    height: 50px !important;
    width: 50px !important;
  }
}
