.Background {
  width: 100vw;
  height: 100vh;
  background-color: #cbf3f0;
  position: absolute;

}

.Welcome-to-Yummy-Dish-Your-place-to-find-Quick-S {
  padding-top: 0.7375em;
  padding-bottom: 0.8375em;
  width: 100%;
  height: 100%;
  align-content: center;
  font-family: Karma;
  font-size: 2.5vw;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.01875em;
  color: #000000;
  // @media all and (min-width: 1024px) and (max-width: 1280px) {
  //   font-size: 5.078125VW;
  // }
  // @media all and (min-width: 768px) and (max-width: 1024px) {
  //   font-size: 5.078125VW;
  // }
  // @media all and (min-width: 480px) and (max-width: 768px) {
  //   font-size: 5.078125VW;
  // }
  @media all and (max-width: 480px) {
    font-size: 7.578125vw;
  }
}

.snacks {
  box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.25);
  background-color: #effbfa;
  margin-bottom: 2.2222222222222223vw;
}
.Rectangle-110 {
  margin: 0 auto;
  width: 26.319444444444446vw;
  height: 5.208333333333334vw;
  @media all and (max-width: 480px) {
    width: 60.319444444444446vw;
    height: 15.208333333333334vw;

  }
  border-radius: 5px;
  padding-bottom: 25px;
  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff, 0);
  }
}
.See-My-Recipe-Button {
  background-color: #fec368;
  padding: 0;
  border-radius: 0.3125em;
  border: none;
  margin: 0;
  box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.25);
  width: 26.319444444444446vw;
  height: 5.208333333333334vw;
  @media all and (max-width: 480px) {
    width: 60.319444444444446vw;
    height: 16.208333333333334vw;
    font-size: 5.5444444444444444vw;

  }
  font-family: Raleway !important;
  font-size: 1.9444444444444444vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.01875em;
  color: #000000;
  &:hover {
    color: white;
  }
}

.snacksFlexbox {
  display: flex;
  width: 100vw;
  flex-wrap: nowrap;
  overflow: scroll;
  justify-content: space-between;
  align-content: flex-start;
  text-align: center;
  box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.25);
  background-color: #effbfa;
  margin-bottom: 2.2222222222222223vw;
  
}
