.cookmode-container {
  padding-top: 6vh;
  font-family: Raleway;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media (min-width: 480px) {
    padding-top: 8vw;

    .MuiSvgIcon-root {
      width: 3vw !important;
      height: 3vw !important;
    }
  }

  .header-image {
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
  }
  .body {
    display: flex;
    flex: 1 1 auto;
    .desktop-view {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      .desktop-prep {
        width: 35%;
      }
      .desktop-cook {
        display: flex;
        width: 65%;
      }
      .desktop-review {
        width: 100%;
      }
    }
  }
  .footer {
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 11vh;
    background-color: #ff9f1c;
    display: flex;
    justify-content: space-between;
    box-shadow: -1px 1px 14px -8px rgba(0, 0, 0, 0.75);

    @media (max-width: 480px) {
      height: 10vh;
    }
    .left {
      margin: 12px 6px;
    }
    .previous {
      width: 28px;
      fill: #fff;
    }
    .right {
      margin: 12px 6px;
      text-align: right;
      position: relative;
      .next {
        color: #fff;
        width: 28px;
        height: 28px;
        fill: #fff;
      }
    }
  }
}
