.RecipeRender {
  img {
    width: 30em;
    height: 20em;
    padding: 54.7px 30px 8px;
    
  }
}
.RecipeRender:hover {
  img {
    opacity: 0.5;
  }
}

.RecipeRender {
  span {
    width: inherit;
    overflow: hidden;
    // height: 42px;
    // padding: 0 70px 0;
    // margin: 0 auto;
    // text-align: center;
    // word-wrap: break-word;

    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #000000;
  }
}
