.RecipeRender {
  padding-bottom: 2.083333333333333vw;
  
  img {
    width: 33.33333333333333vw;
    height: 22.22222222222222vw;
    
    padding: 3.7986111111111116vw 2.083333333333333vw 0.5555555555555556vw;
    @media all and (max-width: 480px) {
     width: 72.083333333333336VW;
    height: 46.45833333333333VW;
    }
  }
  span {
    width: inherit;
    overflow: hidden;
    font-family: Raleway;
    font-size: 2.5vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #000000;
    @media all and (max-width: 480px) {
      font-size: 4.8vw;

     }
  }
}

.RecipeRender:hover {
  img {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    overflow: hidden;
  }
}

.outerContainer .image {
  width: 23.33333333333333vw !important;
  height: 12.22222222222222vw !important;
  padding: 3.7986111111111116vw 2.083333333333333vw 0.5555555555555556vw !important;
}
