.reviews-container {
  background-color: #fec368;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  textarea {
    background-color: #f8f5f5;
    margin: 0 auto;
    width: 90vw;
    height: 8vh;
    border-radius: 20px;
    border: none;
  }
  textarea::placeholder {
    padding: 20px;
    color: rgba(0, 0, 0, 0.32);
    font-family: Roboto;
    font-size: 4.5vw;
    font-weight: bold;
  }
  button {
    width: 90vw;
    margin: 2vh auto;
    border: none;
    border-radius: 20px;
    background-color: #ff9f1c;
    color: #fff;
    height: 8vh;
    font-family: Raleway;
    font-weight: 600;
    font-size: 6vw;
  }
  .heart-icon {
    margin: 0 0 0 20px;
    width: 5.8vw;
    fill: #fff;
  }
}
