.prep-container {
  height: 100%;
  width: 100%;
  background-color: #cbf3f0;

  .modal {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    right: 0px;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
      margin: 40% auto;
      padding: 20px;
      background: #2ec4b6;
      color: white;
      border-radius: 10px;
      width: 40%;
      height: 50%;
    }
  }
  .content-container {
    width: 80%;
    text-align: center;
    margin: 10px auto;

    h2 {
      text-align: left;
      margin: 20px 0 20px 26px;
      font-weight: 600;
    }
    .ingredients {
      margin-top: 10px;
      display: flex;
      flex-flow: column wrap;
      font-family: Karma;
      text-indent: -3rem;
      margin-left: 2.5rem;
      .MuiSvgIcon-root {
        color: #2ec4b6;
        margin-top: 10px;
      }
      .input-label {
        display: flex;
        text-align: left;
        .prep-steps-label {
          .MuiSvgIcon-root {
            color: #888888;
            margin: 0;
            padding: 0;
          }
        }

        .prep-steps-label {
          font-size: 22px;
        }
      }
    }
    @media only screen and (min-width: 1024px) {
      .ingredients {
        text-indent: -4rem;
        margin-left: 3.5rem;
        .prep-steps-label {
          font-size: 30px;
        }
      }
    }
  }
}
