.bookmark-page {
  background-color: #fec368;
}
.search-bar {
  position: relative;
  left: 32vw;
  top: 7vh;
  z-index: 1;
  background-color: #fec368;
  .search-wrapper {
    background-color: '#fff';
    width: 62vw;
    display: flex;
    height: 5vh;
  }
}
