footer {
  background-color: #fec368;
  color: #fff;
  font-size: 2.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  height: 12vw;
  box-shadow: -0.267vw -1.333vw 0.933vw -1.867vw rgba(0, 0, 0, 0.75);

  span:hover {
    cursor: pointer;
    font-weight: 900;
  }

  @media (max-width: 480px) {
    height: 14vw;
  }
}
