footer {
  background-color: #fec368;
  color: #fff;
  font-size: 2.5VW;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  bottom: 0;
  padding: 1.3888888888888888VW 0 1.3888888888888888VW 0;
  position: absolute;
  left: 0;
    width: 100vw;
    overflow: hidden;



  span:hover{
    cursor: pointer;
    font-weight: 900;
  }
}

