.all {
  width: 100vw;

  .ssearchHeader {
    background-color: #fec368;
    width: 100%;
    .ssearchBarWithButton {
      display: flex;
      margin: 4vh auto;
      width: 90%;
      justify-content: center;
      align-items: center;
    }
    .srefineButton {
      display: flex;

      width: 90px;
      height: 40px;

      border: #ffffff;
      background-color: #ff891c;
      color: white;
    }
  }

  .sall-Search-Results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;

    .popover {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .sslider {
        color: #ff9f1c;
        display: flex;
        flex-direction: column;
      }
      .sapplyButton {
        width: 95px;
        height: 29px;
        border-radius: 5px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #fc8b56;
        color: #ffffff;
        margin: auto;
        margin-bottom: 10px;
        border: none;
      }
    }

    .ssearchResults {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: 2vw;
      .srectangle {
        display: flex;
        justify-content: flex-start;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 500;
        color: #888888;
        border-radius: 3px;
        padding-bottom: 8px;
      }
      .ssearchImage {
        width: 90vw;
        height: 60vw;
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 3.3vw;
      }
    }
  }
}

// .sheader-wrapper-search {
//   background-image: url(https://images.unsplash.com/photo-1560131324-71022d71ee4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
//   height: 238px;

//   @media (max-width: 480px) {
//     height: 160px;
//   }
// }

// .ssearchImage {
//   width: 100%;
//   height: 149px;
//   background-size: cover;
//   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
//   margin-bottom: 3.333vw;
// }

// .ssearchHeader {
//   background-color: #fec368;
//   width: 100%;
// }

// .srectangle {
//   display: flex;
//   justify-content: flex-start;
//   width: 50%;
//   height: 10%;
//   border: solid 1px rgba(176, 174, 174, 0.28);
//   background-color: rgba(245, 253, 252, 0.9);
//   font-family: Raleway;
//   font-size: 14px;
//   font-weight: 500;
//   letter-spacing: -0.3px;
//   color: #131313;
//   border-radius: 3px;
//   padding-bottom: 8px;
// }

// .sapplyButton {
//   width: 95px;
//   height: 29px;
//   border-radius: 5px;
//   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
//   background-color: #fc8b56;
//   color: #ffffff;
//   margin: auto;
//   margin-bottom: 10px;
//   border: 0px;
// }

// .ssearchBarWithButton {
//   display: flex;
//   margin-top: 4vh;
//   width: 90%;
//   justify-content: center;

//   @media (max-width: 480px) {
//     margin-top: 4vh;
//   }
// }

// .srefineButton {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   width: 86px;
//   height: 34px;

//   border: solid 1px #ffffff;
//   background-color: #ff891c;
//   color: white;
// }

// .sslider {
//   color: #ff9f1c;
//   display: flex;
//   flex-direction: column;
// }

// .slidercolor {
//   width: 76px;
//   height: 2px;
//   border-radius: 9px;
//   background-color: #a3a3a3;
// }

.sright {
  padding-bottom: 50px;
  padding-left: 0px;
  right: 200px;
}

.sleft {
  padding-bottom: 50px;
  padding-left: 11px;
}

.sSearchIcon-search {
  height: 30px;
  color: #979797;
  background-color: white;
}

// .simgleft {
//   width: 15vw !important;
//   height: 15vw !important;
//   padding-top: 1vw;
//   padding-left: 1vw;
// }

// .stopHeader {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
// }

// .sall-Search-Results {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   width: 100%;
//   padding-top: 10px;
// }

// .sheadersearchbar {
//   display: flex;
//   justify-content: center;
// }

.sMuiSvgIcon-root {
  width: 15vw !important;
  height: 15vw !important;
}

// .sicons-right {
//   display: flex;
//   justify-content: center;
// }

// .ssearchResults {
//   display: flex;
//   width: 100%;
//   justify-content: flex-start;
//   flex-direction: column;
// }

// .popover {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

@media screen and (min-width: 800px) {
  .all {
    background-color: #fec368;
  }

  .ssearchImage {
    width: 443.5px;
    height: 177.1px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .ssearchResults {
    width: 100%;
    width: 440px;
    margin: 50px auto;
  }

  .ssearchBarWithButton {
    position: relative;
    justify-content: center;
  }

  .sheadersearchbar {
    display: flex;
    justify-content: center;
  }

  .sright {
    padding-bottom: 165px;
    padding-left: 30px;
  }

  .sheader-wrapper-search {
    background-image: url(https://images.unsplash.com/photo-1560131324-71022d71ee4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    height: 328px;
  }

  .sMuiSvgIcon-root {
    width: 10vw !important;
    height: 10vw !important;
  }

  .simgleft {
    width: 10vw !important;
    height: 10vw !important;
    padding-top: 1vw;
    padding-left: 1vw;
  }

  .srectangle {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 10%;
    border: solid 1px rgba(176, 174, 174, 0.28);
    background-color: rgba(245, 253, 252, 0.9);
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #131313;
    border-radius: 3px;
    padding-bottom: 8px;
  }
}
