.all {
  width: 100vw;

  .ssearchHeader {
    background-color: #fec368;
    width: 100%;
    .ssearchBarWithButton {
      display: flex;
      margin: 4vh auto;
      width: 90%;
      justify-content: center;
      align-items: center;
    }
    .srefineButton {
      display: flex;

      width: 90px;
      height: 40px;

      border: #ffffff;
      background-color: #ff891c;
      color: white;
    }
  }

  .sall-Search-Results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;

    .popover {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .sslider {
        color: #ff9f1c;
        display: flex;
        flex-direction: column;
      }
      .sapplyButton {
        width: 95px;
        height: 29px;
        border-radius: 5px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #fc8b56;
        color: #ffffff;
        margin: auto;
        margin-bottom: 10px;
        border: none;
      }
    }

    .ssearchResults {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: 2vw;
      .srectangle {
        display: flex;
        justify-content: flex-start;
        font-family: Raleway;
        font-size: 5vw;
        font-weight: 500;
        color: #888888;
        border-radius: 3px;
        padding-bottom: 8px;
      }
      .ssearchImage {
        width: 90vw;
        height: 60vw;
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 3.3vw;
      }
    }
  }
}

.sright {
  padding-bottom: 50px;
  padding-left: 0px;
  right: 200px;
}

.sleft {
  padding-bottom: 50px;
  padding-left: 11px;
}

.sSearchIcon-search {
  height: 30px;
  color: #979797;
  background-color: white;
}

.sMuiSvgIcon-root {
  width: 15vw !important;
  height: 15vw !important;
}

.slider-w-pics {
  display: flex;
  .MuiSvgIcon-root {
    color: #fc8b56;
    height: 5vw !important;
    width: 5vw !important;
  }

  .icon {
    height: 5vw !important;
    width: 5vw !important;
    fill: #fc8b56;
    padding-right: 1px;
    padding-left: 1px;
  }
}

.baby-slider-icon {
  height: 18px;
  color: orange;
}

.rating {
  .MuiRating-root {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .all {
    background-color: #fec368;
  }

  .ssearchResults {
    width: 100%;
    width: 440px;
    margin: 50px auto;
    .ssearchImage {
      width: 443.5px;
      height: 177.1px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .srectangle {
      display: flex;
      justify-content: flex-start;
      border: solid 1px rgba(176, 174, 174, 0.28);
      background-color: rgba(245, 253, 252, 0.9);
      font-family: Raleway;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.3px;
      color: #131313;
      border-radius: 3px;
      padding-bottom: 8px;
    }
  }

  .ssearchBarWithButton {
    position: relative;
    justify-content: center;
  }

  .sheadersearchbar {
    display: flex;
    justify-content: center;
  }

  .sright {
    padding-bottom: 165px;
    padding-left: 30px;
  }

  .sMuiSvgIcon-root {
    width: 10vw !important;
    height: 10vw !important;
  }
}
