.outerContainer {
  background-color: #ff9f1c;
  color: #fff;
  .snacks {
    display: flex;
    width: auto;
    overflow-x: scroll;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 1rem 3rem;
  }
  .category {
    font-size: 18px;
    padding: 1rem;
  }
  .image {
    height: 165px;
    width: 165px;
    background-size: cover;
    margin: 1rem;
  }
}
