.outerContainer {
  color: #fff;
  .scroll-panel {
    display: flex;
    overflow: scroll;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10vw 5vw;
  }
  .category {
    font-size: 3vw;
    padding: 2vw;
  }
  .image {
    height: 50vh;
    width: 50vw;
    background-size: cover;
    margin: 1rem;
  }
}

// .tabs{
//   backgroundColor: #ff9f1c;
//   color: #fff;
//   width: 20vw;
//   borderRadius: 5px;
// }

// div.MuiExpansionPanelSummary-root {
//   background-color: #ff9f1c;
//   color: #fff;
//   width: 20vw;
//   border-radius: 5px;
// }

// .MuiPaper-root > div {
//   background-color: #ff9f1c;
//   color: #fff;
//   width: 20vw;
//   border-radius: 5px;
// }

// .bookmark-page > div:nth-child(3) {
//   background-color: yellowgreen;
// }

// .MuiPaper-root > div:nth-child(4) {
//   background-color: blue;
// }

// .MuiExpansionPanelSummary-root {
//   background-color: blue;
// }

// ////////////@extend
// .MuiPaper-root > div {
//   background-color: blue;
// }
// .outerContainer .scroll-panel {
//   // background-color: inherit;
//   width: 100vw;
//   // background-color: blue !important;
// }
// .MuiCollapse-wrapper:nth-child(2) {
//   // background-color: inherit;
//   background-color: pink !important;
// }

// .bookmark-page > .outerContainer > .MuiPaper-root .MuiExpansion-root .MuiExpansionPanel-rounded .MuiPaper-elevation1 .MuiPaper-rounded:nth-child(2){
//   background-color: red !important;
// }