.search-header {
  .sheader-wrapper-search {
    background-image: url(https://images.unsplash.com/photo-1560131324-71022d71ee4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    height: 238px;

    @media (max-width: 480px) {
      height: 160px;
    }

    @media (min-width: 768px) {
      background-image: url(https://images.unsplash.com/photo-1560131324-71022d71ee4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
      height: 328px;
    }
    .stopHeader {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .yummy-logo {
        width: 10vw !important;
        height: 10vw !important;
        padding: 1vw;
      }

      .sicons-right {
        padding: 1vw;

        display: flex;
        justify-content: center;
      }
      .sheadersearchbar {
        display: flex;
        justify-content: center;
      }
    }
  }
}
