.header-wrapper {
  background-color: #fec368;
  color: #fff;
  font-size: 6vw;
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 11vw;
  z-index: 10;

  @media (max-width: 450px) {
    height: 18vw;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    position: relative;
    align-self: center;
    top: 10%;
    right: 2%;
  }
}

.MuiSvgIcon-root {
  width: 9vw !important;
  height: 9vw !important;
}
