.header-wrapper {
  background-color: #fec368;
  color: #fff;
  font-size: 5.7777777777777777vw;
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 14vw;
  z-index: 10;

  @media (max-width: 450px) {
    height: 18vw;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    position: relative;
    align-self: center;
    top: 10%;
    right: 2%;
  }
}
.SearchIcon {
  width: 8.8194444444444446vw;
  height: 8.8194444444444446vw;
}

.MuiSvgIcon-root {
  width: 8.8194444444444446vw !important;
  height: 8.8194444444444446vw !important;
}

.SearchBarBox {
  background-color: #fec368;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  position: relative;
  min-width: 100vw;
}

div.Search {
  margin: 0 auto;
  display: inline-block;
}
