.bookmark-modal {
  font-family: Nunito, sans-serif;

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    span {
      font-weight: 600;
      font-size: 28px;
    }

    .modal-content {
      margin: 15% auto;
      padding: 30px;
      background: rgba(222, 246, 244, 0.85);
      text-align: center;
      color: white;
      border-radius: 10px;
      width: 35%;
      height: 50%;

      @media (max-width: 480px) {
        width: 70%;
      }

      @media (min-width: 480px) {
        position: relative;
        bottom: 10%;
      }

      span {
        font-weight: 500;
        font-family: Markel;
      }

      form {
        display: flex;
        justify-content: center;
      }

      input,
      button {
        padding: 10px;
        font-size: 16px;
        margin: 10px auto;
        border-radius: 4px;
        border: none;

        &:focus {
          outline: none;
        }
      }

      input {
        flex: 3;
      }

      button {
        flex: 1;
      }

      button {
        background-color: #fec368;
        color: white;
      }

      .categories {
        padding: 20px 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .category {
          width: 20%;
          color: white;
          font-size: 12px;
          border-radius: 3px;
          padding: 12px;
          margin: 10px;
          background-color: #fec368;

          &:hover {
            cursor: pointer;
            opacity: (0.8);
          }

          @media (min-width: 480px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
