.cook-container {
  height: 100%;
  margin: 0 auto;
  background-color: #add6b7;
  padding: 8px 0;
  .content-container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    h2 {
      text-align: left;
      margin-top: 20px;
    }
    .directions {
      display: flex;
      flex-flow: column wrap;
      .input-label {
        display: flex;
        text-align: left;
        .cook-steps-checkbox {
          margin: 5px 15px 5px 0;
        }
        span {
          font-size: 22px;
        }
      }
    }
    .edit-icon {
      width: 18px;
      height: 18px;
      color: #000;
    }
  }
}
