.cook-container {
  margin: 0 auto;
  background-color: #add6b7;
  padding: 8px 0;
  flex: 1 1 auto;
  h1 {
    margin: 5px 0;
  }
  .content-container {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    h2 {
      text-align: left;
      margin: 20px 0 20px 26px;
      font-weight: 600;
    }
    h3 {
      font-weight: 700;
    }
    .directions {
      margin: 10px 0;
      font-family: Karma;
      .input-label {
        display: flex;
        text-align: left;

        .cook-steps-label {
          display: flex;
          align-items: flex-start;
          .cook-steps {
            font-size: 20px;
            margin: auto;
          }
        }
      }
      input {
        flex: auto;
        width: 50vw;
        font-family: Markel;
        padding: 10px;
        font-size: 20px;
        margin: 5px 10px;
        border: none;
        border-radius: 3px;
        background: #cde6c7;
        &:focus {
          outline: none;
        }
      }
    }
    .edit-icon {
      width: 18px;
      height: 18px;
      color: #000;
    }
  }
}
