.prep-container {
  height: 100%;
  width: 100%;
  background-color: #cbf3f0;
  .content-container {
    width: 80%;
    text-align: center;
    margin: 5px auto;
    h3 {
      text-align: left;
    }
    .ingredients {
      margin-top: 10px;
      display: flex;
      flex-flow: column wrap;
      font-family: Karma;
      .input-label {
        display: flex;
        text-align: left;

        .prep-steps-checkbox {
          margin: 5px 15px 5px 0;
        }
        .prep-steps-label {
          font-size: 22px;
          .number {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
