.prep-container {
  height: 100%;
  width: 100%;
  background-color: #cbf3f0;
  .content-container {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    h2 {
      text-align: left;
      margin: 20px 0 20px 26px;
      font-weight: 600;
    }
    .ingredients {
      margin-top: 10px;
      display: flex;
      flex-flow: column wrap;
      font-family: Karma;
      .input-label {
        display: flex;
        text-align: left;

        .prep-steps-label {
          font-size: 22px;
        }
      }
    }
  }
}
